

#mainMenuRoot {
    /* Tvůj obrázek s opravenou cestou */
    -fx-background-image: url("../textures/HUD/bgr.png");

    /* Roztáhne obrázek přes celou plochu (1024x576) */
    -fx-background-size: cover;

    /* Vycentruje ho, kdyby náhodou neseděl poměr stran */
    -fx-background-position: center center;

    /* Zabrání tomu, aby se obrázek skládal vedle sebe jako dlaždice */
    -fx-background-repeat: no-repeat;
}

#pauseMenuRoot {

    -fx-background-color: rgba(20, 20, 19, 0.7);
}


.button {
    -fx-background-color: rgba(36, 23, 3,0.5);
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-family: "Star Crush";
    -fx-cursor: hand;
    -fx-pref-width: 250px;
    -fx-pref-height: 45px;
}

.button:hover {
    -fx-text-fill: #ffcc00;
}

.titleText {
    -fx-font-family: "Star Crush";
    -fx-font-size: 70px;
    -fx-text-fill: rgba(212, 138, 25);
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, black, 3, 1.0, 0, 0);
}